.container {
  background-color: #181818;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box; /* ✅ FIX */
}

.saveButton {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #1db954;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
